<h1>Pages#contact</h1>

<p><%= number_to_phone "0441239876" %></p>

<p><%= number_to_currency "285" %></p>

<p><%= number_to_percentage "99" %></p>

<p><%= number_with_delimiter "998094832904" %></p>
